asgiref==3.6.0
Django==4.2.1
django-bootstrap-v5==1.0.11
django-browser-reload==1.8.0
django-tailwind==3.5.0
dnspython==2.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl     
fastapi==0.95.1
filelock==3.12.0
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
update==0.0.1
