asgiref==3.6.0
dj-database-url==2.0.0
Django==4.2.1
django-bootstrap-v5==1.0.11
django-browser-reload==1.8.0
dnspython==2.3.0
psycopg2-binary==2.9.6
python-dateutil==2.8.2
sqlparse==0.4.2
tzdata==2022.1
update==0.0.1
python-decouple==3.8
pytz==2023.3
