@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  padding:20px ;

}
nav{
  
  flex: 1;
  text-align: right;

}
.logo{
  padding: 0 10px 0 0;
}
 
nav ul{
  list-style-type: none;
  display: inline-block;

}

nav ul li{
  display: inline-block;
  margin-right: 20px;

}

a{
  text-decoration: none;
  color: #555;

}

p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.col-2{
  flex-basis: 50%;
  min-width: 300px;

}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;

}


.col-2 h1{

  font-size: 50px;
  line-height: 50px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background:#ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;

}

.btn:hover{
  background: #563434;

}

.header{
  background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
  margin-top: 70px;
}

.homeviewbtn button{
  background: linear-gradient(45deg, #56a1f0, #ce8bf0);
  border: transparent;
  border-radius: 30px ;
  padding: 8px 10px;
  margin: 10px 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background 0.5s;
}
.homeviewbtn button:hover{
  background: linear-gradient(45deg, #5be4f0, #7840fa);

}


.categories{
  margin: 70px 0;

}

.col-3{
  display: grid;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom:30px ;

}

.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left:25px ;
  padding-right:25px ;
}


.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;


}

.col-4 img{
  width: 100%;
  height: 250px;
  border: 1px solid #000;
  border-radius: 15px;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


h4{
  color: #555;
  font-weight: normal;

}

.col-4 p{
  font-size: 14px;
  
}

.col-4:hover{
  transform:translateY(-5px) ;
}
img{
  /* border: 1px solid #000; */
  border-radius: 15px;
}
 /* ---------offer--------- */
.offer{
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;

}

.col-2 .offer-img{
  padding: 50px;
}

small{
  color: #555;
}


/* ----------------testimonial --------------- */

.testimonial{
  padding-top: 100px;

}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.5s;

}

.testimonial .col-3 img{
  width:50px;
  margin-top:20px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}

.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;

}

.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}


/* ------------brands -------------- */

.brands{
  margin: 100px auto;

}

.col-5{
  width: 160px;

}

.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);

}
.col-5 img:hover{
  filter: grayscale(0);

}

/* --------footer--------- */

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,
.footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;

}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex: 1;
  text-align: center;

}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;

}

.app-logo{
  margin-top: 20px ;
}
.app-logo img{
  width: 140px;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright{
  text-align: center;

}

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;

}

 /* -------------All your gallery projects ---------------- */


 .row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}

select{
  border: 1px solid #ff523b;
  padding: 5px;
  border-radius: 20px;
}

select:focus{
  outline: none;

}

.page-btn{
  margin: 0 auto 80px;

}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}


/* --------singel project details------------ */


.single-product{
  margin-top: 80px;

}

.single-product .col-2 img{
  padding: 0;

}

.single-product .col-2{
  padding: 20px;

}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;

}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left:10px ;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;

}

input:focus{
  outline: none;
}

.single-product .fa{
  /* color: #7b7776; */
  margin-left:10px ;
}
.small-img-col b{
  color: #7b7776 ;
}


.small-img-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}
.small-img-row b{
 text-align: center;
  
}
.small-img-col{
  /* flex-basis: 24%; */
  display:grid;
  cursor: pointer;
  /* align-items: center; */
  justify-content: center;

}
.small-img-row button{
  display: flex;
  border: transparent;
  background: transparent;  
  cursor: pointer;
  justify-content: center;
}

.single-product .col-2 .impbtn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border: transparent;
  border-radius: 30px;
  transition: background 0.5s;
}

.single-product .col-2 .impbtn:hover{
  background: #563434;

}


.viewmore button{
  /* background: #ff523b; */
  border: transparent;
  border-radius: 30px ;
  padding: 8px 30px;
  margin: 30px 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: background 0.5s;
}
.viewmore button:hover{
  background: #9a9393;

}

/* -------comment section---------------- */

.comment-box,
.post-comment .list{
  /* background-color: #fff; */
  background: linear-gradient(45deg, #2891e7, #d93df1);
  border-radius: 6px;
  box-shadow: 0 2px 2px #0002;
}

.comment-session{
  width: 600px;
  height: auto;
  margin: 0 auto;
  /* background: #009cff; */

}
.post-comment .list{
  width: 100%;
  margin-bottom: 12px;
}
.post-comment .list .user{
  display: flex;
  padding: 8px;
  overflow: hidden;

}

.post-comment .list .user img{
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}

.comment-session .name{
  text-transform: uppercase;
  font-weight: 500;
}
.post-comment .list .day{
  font-size: 12px;

}
.post-comment .comment-post{
  padding: 0 0 15px 58px;
}


.comment-box{
  padding: 10px;
  overflow: hidden;
}

.comment-box .user{
  display: flex;
  width: min-content;

}

.comment-box .image img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;

}

.comment-box textarea{
  background: #83ece0;
  width: -webkit-fill-available;
  height: 152px;
  margin: 10px 0;
  padding: 10px;
  resize: inherit;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0  1px #0003;
}


.comment-box textarea:focus-visible{
  box-shadow: inset 0 0 0 1px #009cff;
  outline: none;

}

.comment-box .comment-submit{
  float: right;
  padding: 6px 10px;
  border: none;
  background-color: #009cff;
  color: #eee;
  cursor: pointer;
  border-radius: 3px;
  
}

.comment-box .comment-submit:hover{
  background: #0076bf;
}






/* -------------media query for menu ------------------ */


@media only screen and (max-width:800px){

  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;

  }

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    color: #fff;
  }

  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/* -----------------media query for less than 600 screen size ----------- */


@media only screen and (max-width: 600px){

  .row{
    text-align: center;

  }
  
  .col-2,.col-3,.col-4{
    flex-basis: 100%;

  }
  .single-product .row{
    text-align: left;


  }
  .single-product .col-2{
    padding: 20px 0;
  }

  .single-product h1{
    font-size: 26px;
    line-height: 32px;
  }
  
}


/* comment box media query------------ */


@media only screen and (max-width: 650px){
     .comment-session{
      width: 100%;
      /* background: #d73e14; */
     }
}









