<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
   
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="activity-center">
        <div class="component">
        <div class="public">
            <h5>Trending</h5>
            <p>{{trending_proj.project_name}} is trending with maximum likes. You should check this out</p>
            {% for all in all_active   %}            

            <p>Activty : {{all.activity}}</p>   

            {% endfor %}
            <p>Activty : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, tempora?</p>
            

        </div>
        <div class="private">
            <h5>For you</h5>

            {% for p in personal   %}

            {% if p.user_involved in profile.follows.all %}

            <p>Activty : {{p.activity}}</p>            
            
            {% endif %}
            
            
            
            {% endfor %}


            
            <p>Activty : Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, tempora?</p>
          


        </div>
    </div>
    </div>
    
</body>
</html>