{% extends 'base.html' %}
{% block title %}services{% endblock title %}
{% block body %}
<center>
    <h1>Create Project</h1>
    <br /><br/>
    <div class="container ">
        <div class="row mt-5 " >
            <div class="col-lg-4 border rounded bg-success m-auto">
                <h2 class="text-center pt-3">Enter Project Details</h2>
                <p class="text-center text-muted lead">It's Free and Takes a Minute</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" id="project_name" class="form-control" name="project_name" value="{{project_name}}" placeholder="Project Name" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" id="project_notes" class="form-control" name="project_notes" value="{{project_notes}}" placeholder="Project Notes" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="url" id="project_link" name="project_link" value="{{project_link}}" class="form-control" placeholder="Github Link" />
                    </div>
                    <!-- {% comment %} <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" id="username" name="username" value="{{username}}" class="form-control" placeholder="Username" />
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-location-arrow"></i></span>
                        <input type="text" id="location" name="location" value="{{location}}" class="form-control" placeholder="Location" />
                    </div>

                    <div class="input-group mb-3"> <span class="input-group-text"><i
                                class="fa fa-envelope"></i></span>
                        <input type="email" id="email" name="email" value="{{email}}" class="form-control" placeholder="Email" />
                    </div> {% endcomment %} -->

                    <div class="input-group mb-3"><input type="file" id="p_image" name="p_image" value="{{p_image}}" ></div>

                    <!-- <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-book"></i></span>
                        <input style="height:100px" type="text" class="form-control form-control-lg mb-100" placeholder="Description" />
                    </div> -->
                    <!-- <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-book"></i></span>
                        <textarea class="form-control form-control-lg" value="{{description}}" name="" id="description" ></textarea>

                    </div> -->
                   

                    {% comment %} <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="text" class="form-control" name="password" value="{{password}}" id="password" placeholder="Password" />
                    </div> {% endcomment %}
                    <input type="submit" value="Register" class="btn btn-success ">
                </form>
</center>

{% endblock body %}