{% extends 'base.html' %}
{% block title %}services{% endblock title %}
{% block body %}

<div class="container py-3">
    <div class="d-flex gap-8 ">
        <div>
            <div  class="flex-grow-1 col-xs-6">
                <div class="text-bg-dark border border-success rounded me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
                    <div class="my-3 py-3">
                    <h2 class="display-5">{{proj.project_name}}</h2>
                    <p class="lead">Welcome.</p>
                    </div>
                    <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 100%; height: 500px; border-radius: 21px 21px 0 0;">
                        <img class="img-fluid img-responsive fit-image" src="{{proj.p_image.url}}" alt="">
                    </div>
                </div>                
            </div>
            <div>
              <br>
              
              <img class="rounded-circle shadow-1-strong me-3"
                              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                              height="60" /> {{ proj.p_creator}} shared it on {{proj.date}}
              <br>
              <br>
              Based on MyRedNeptunes's project
              <br>
              <br>

              {{proj.num_views}} views, {{proj.num_tags}} taggers, {{proj.num_likes}} people love it, 1 remix by 1 person, {{proj.num_down}} downloads, in 1 gallery
              <br>
              <br>

              Love it?   Add to my favourites? Flag as inappropiate?


            </div>
            <section style="background-color: #eee;">
                <div class="container my-5 py-5">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                      <div class="card ">

                        {% for c in comm  %}
                        <div class="card-body">
                          <div class="d-flex flex-start align-items-center">
                            <img class="rounded-circle shadow-1-strong me-3"
                              src="{{c.image.url}}" alt="avatar" width="60"
                              height="60" />
                            <div>
                              <h6 class="fw-bold text-primary mb-1">{{c.username}}</h6>
                              <p class="text-muted small mb-0">
                                Shared publicly - {{c.date}}
                              </p>
                            </div>
                          </div>
              
                          <p class="mt-3 mb-4 pb-2">
                            {{c.comment}}
                          </p>
              
                          <div class="small d-flex justify-content-start">
                            <a href="#!" class="d-flex align-items-center me-3">
                              <i class="far fa-thumbs-up me-2"></i>
                              <p class="mb-0">Like</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                              <i class="far fa-comment-dots me-2"></i>
                              <p class="mb-0">Comment</p>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                              <i class="fas fa-share me-2"></i>
                              <p class="mb-0">Share</p>
                            </a>
                          </div>
                        </div>
                        {% endfor %}
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                          <div class="d-flex flex-start w-100">
                            
                            <form method="POST" action="" >
                                {% csrf_token %}
                              <textarea class="form-control" id="comment" name="comment" rows="4" cols="100"  style="background: #fff;"></textarea>
                            
                             
                                <button type="submit" name='com' class="btn btn-primary btn-sm">Post comment</button>
                                
                              
                            </form>
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
        <div class=" pl-6 col-xs-6">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
                
                <div class="list-group list-group-flush border rounded scrollarea">
                  <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">DownLoad This Project</strong>
                      <small>Wed</small>
                    </div>
                    <div class="col-10 mb-1 small">
                      
                      <!-- <li>Name: {{ profile.first_name }} {{ profile.last_name }} </li>
                      <li>Location: {{ profile.location }}</li> -->

                      Download the Components of {{proj.project_name}} and Open it in Scratch
                      
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">Project Notes</strong>
                      <small class="text-body-secondary">Tues</small>
                    </div>
                    <div class="col-10 mb-1 small">{{proj.project_notes}}</div>
                  </a>
                  <!-- <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">Gallery</strong>
                      <small class="text-body-secondary">Tues</small>
                    </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                  </a> -->
                  <div class="list-group-item py-3 lh-sm">
                  <div class="">
                    <strong class="mb-1 ">TAGs</strong>
                    <div class="py-1">
                      {% for t in tagg  %}
                      #{{t.tag}} 
                      {% endfor %}
                    </div>
                    <br>                    
                    <form method="post" action=""> 
                        {% csrf_token %}                
                    <input type="text" id="tag" name="tag" value="{{tag}}" class="form-control " />
                    <br>                  
                    
                    <button class="btn btn-primary" name='tags' type="submit">Add Tag</button>
                    </form>   
                  </div>
                  <!-- <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>                   -->
                </div>
                <div class="list-group-item  py-3 lh-sm">
                  <div class="">
                    <strong class="mb-1 ">Link To This Project</strong>
                    <div class="py-1">
                      <form method="post" action = "">
                        {% csrf_token %} 
                        <button class="btn btn-primary"  name='down' type="submit">
                            Download
                        </button>
                    </form>
                      <!-- <a href="{{proj.project_link}}">Download</a> -->
                      
                    </div>
                    <br>            
                  </div>
                  <!-- <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>                   -->
                </div>
                <div class="list-group-item py-3 lh-sm">
                  <div class="">                   
                    
                    <br>                    
                    <form method="post" action=""> 
                      {% csrf_token %}             
                    <br>               
                    <button class="btn btn-primary" name='fav' type="submit">Add To Favourites</button>
                    <input type="hidden" name="proj_name" value ={{proj.project_name}} >
                    {% if user not in proj.liked.all %}
                    <button class="btn btn-primary positive" name='like' type="submit">Like</button>
                    </form>   
                    {% else %}
                    <button class="btn btn-primary negative" name='like' type="submit">Unlike</button>
                    {% endif %}
                    <strong><!-- {{proj.liked.all.count}} --> {{proj.num_likes}}Likes</strong>
                    </form>   
                  </div>
                  <!-- <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>                   -->
                </div>
                </div>
              </div>    
        </div>
    </div>
</div>

{% endblock body %}